@if ( ResolvedValue != null )
{
    <table class="schema">
        <SchemaChildControl Value="@ResolvedValue" Title="@Title" Required="@Required" Collapsed="@Collapsed"/>
    </table>
}


@code {
    [Parameter]
    public OpenApiSchema? Value { get; set; }
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public bool Required { get; set; }
    [Parameter]
    public bool Collapsed { get; set; } = true;

    [CascadingParameter]
    public OpenApiDocument? Api { get; set; }

    private OpenApiSchema? ResolvedValue => Resolve(Value, Api) ?? Value;

    public static OpenApiSchema? Resolve(OpenApiSchema? schema, OpenApiDocument? api)
    {
        if (schema == null)
            return null;
        if (schema.Reference != null && api != null)
        {
            if (api.Components.Schemas.TryGetValue(schema.Reference.Id, out var resolved))
                return resolved;
        }
        return schema;
    }
}
