@if (string.IsNullOrWhiteSpace(TooltipText))
{
    <div class="@Class">
        @ChildContent
    </div>
}
else
{
    <div class="tooltip">
        <div class="@Class">
            @ChildContent
        </div>
        <div class="tooltiptext">@TooltipText</div>
    </div>
}

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public string? TooltipText { get; set; }
    [Parameter]
    public string Class { get; set; } = "";
}
