.toc-level {
    margin-left: 20px;
}

.toc-text {
    cursor: pointer;
}

.toc-text:hover {
    text-decoration: underline !important;
}

.descriminator {
}

.example            {}
.e-item {
    font-family: monospace;
    font-size: var(--oa-font-small);
    color: lightseagreen;
    background-color: var(--oa-bg-darkest);
    overflow: auto;
    field-sizing: content;
    padding: 10px;
}
.e-name             {}
.e-title            {}

.expander {
    display: flex;
    flex-direction: column;
}

.ex-header {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.header             {}
.h-contact          {}
.h-email            {}
.h-name             {}
.h-source-url       {}
.h-title            {}
.h-url              {}
.h-version {
    font-size: var(--oa-font-large);
    width: fit-content;
    color: var(--oa-fg-lighter);
    border-radius: 5px;
    background-color: var(--oa-bg-tag);
    padding-left: 5px;
    padding-right: 5px;
}

.h1                 {}
.h2                 {}

.indicator {
    color: var(--oa-fg-lighter);
    background-color: var(--oa-bg-lighter);
    font-size: var(--oa-font-smaller);
    height: fit-content;
    width: fit-content;
    margin-right: 5px;
    border-radius: 5px;
    margin-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    text-transform: uppercase;
}

.i-required {
    background-color: var(--oa-bg-3);
}
.i-deprecated {
    background-color: var(--oa-bg-4);
}

.markdown           {}

.operation          {}
.operations         {}
.op-params          {}
.op-header {
    display: flex;
    width: 100%;
    margin-top: 16px;
    padding: 5px;
    border-radius: 5px;
    color: var(--oa-fg-lighter);
    cursor: pointer;
}
.op-summary {
    width: 100%;
}
.op-tags {
    display: flex;
}
.op-tag {
    background-color: var(--oa-bg-tag);
    color: var(--oa-fg-tag);
    border: solid 1px;
    margin: 1px;
    display: block;
    width: fit-content;
    padding: 2px;
}
.op-tag-name {
    font-size: var(--oa-font-small);
    white-space: nowrap;
    text-transform: lowercase;
}
.op-type {
    border: solid 1px;
    margin: 1px;
    display: block;
    width: fit-content;
    padding: 2px;
    padding-top: 3px;
    font-size: var(--oa-font-small);
    text-transform: uppercase;
    border-radius: 3px;
}
.op-get {
    background-color: var(--oa-bg-op-get);
}
.op-put {
    background-color: var(--oa-bg-op-put);
}
.op-post {
    background-color: var(--oa-bg-op-post);
}
.op-delete {
    background-color: var(--oa-bg-op-delete);
}
.op-options {
    background-color: var(--oa-bg-op-options);
}
.op-head {
    background-color: var(--oa-bg-op-head);
}
.op-patch {
    background-color: var(--oa-bg-op-patch);
}
.op-trace {
    background-color: var(--oa-bg-op-trace);
}
.parameter {
    margin-left: 24px;
}
.p-attrs {
    display: flex;
}
.p-body {
    margin-left: 20px;
}
.p-in {
    color: var(--oa-fg-lighter);
    font-size: var(--oa-font-smaller);
    height: fit-content;
    width: fit-content;
    margin-right: 5px;
    border-radius: 5px;
    margin-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
.p-in-query {
    background-color: var(--oa-bg-query);
}
.p-in-header {
    background-color: var(--oa-bg-header);
}
.p-in-path {
    background-color: var(--oa-bg-path);
}
.p-in-cookie {
    background-color: var(--oa-bg-cookie);
}
.p-indicators {
    display: flex;
    margin-right: 5px;
}
.p-name {
    color: var(--oa-fg-1);
    margin-right: 5px;
    font-weight: bold;
}
.p-style {
    color: var(--oa-fg-lighter);
    font-size: var(--oa-font-smaller);
    height: fit-content;
    width: fit-content;
    margin-right: 5px;
    border-radius: 5px;
    margin-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
.p-style-matrix {
    background-color: var(--oa-bg-matrix);
}
.p-style-label {
    background-color: var(--oa-bg-label);
}
.p-style-form {
    background-color: var(--oa-bg-form);
}
.p-style-simple {
    background-color: var(--oa-bg-simple);
}
.p-style-spacedelimited {
    background-color: var(--oa-bg-spacedelimited);
}
.p-style-pipedelimited {
    background-color: var(--oa-bg-pipedelimited);
}
.p-style-deepobject {
    background-color: var(--oa-bg-deepobject);
}

.path               {}
.pa-header {
    display: flex;
}
.pa-summary {
}

.responses {}
.response {}
.r-name {
    border: solid 1px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 3px;
}
.r-success {
    color: var(--oa-fg-8);
}
.r-auth {
    color: var(--oa-fg-3);
}
.r-error {
    color: var(--oa-fg-4);
}
.r-encoding{}

.request {
}

.rb-body {
}
.rb-title {
    font-weight: bold;
}

.mt-body {
    margin-left: 20px;
}
.mt-header-text {
    color: var(--oa-fg-1);
    font-weight: bold;
}


.schema {
}
.s-additional-props {}
.s-props            {}
.s-title {
    color: var(--oa-fg-1);
    margin-right: 5px;
    font-weight: bold;
}
.s-nested {
    margin-left: 20px;
}
.s-type             {
    color: var(--oa-fg-8);
}
.s-bg-odd {
    background-color: var(--oa-bg-lighter);
}

.s-bg-even {
    background-color: var(--oa-bg-lighter);
}

.servers {
    display: flex;
    flex-direction: column;
}
.sr-server {
    display: flex;
    flex-direction:row;
}
.sr-default         {}
.sr-enum            {}
.sr-url             {
    margin-left: 5px;
}
.sr-var-name        {}
.sr-var-val         {}
.sr-vars            {}
.spacer {
    margin-left: 5px;
    margin-right: 5px;
}
.op-header-text {
    padding-top: 3px;
}

.openapi-ui h1 {
    margin-top: 24px;
}

.openapi-ui h2 {
    margin-top: 18px;
}
.openapi-ui h3 {
    margin-top: 12px;
}
.openapi-ui h4 {
    margin-top: 8px;
}

.openapi-ui .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.openapi-ui .tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    width: 201px;
    font-size: var(--oa-font-smaller);
    background-color: var(--oa-bg-darkest);
    color: var(--oa-fg-darker);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.openapi-ui .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.openapi-ui .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.openapi-ui span {
    margin-left: 5px;
}

.openapi-ui td {
    vertical-align: top;
}

.openapi-ui {
    --oa-bg-lighter: #0000001f;
    --oa-bg-darker: #00000055;
    --oa-bg-darkest: #000000AA;

    --oa-fg-normal: #e4e4e4;
    --oa-fg-lighter: #ffffff;
    --oa-fg-darker: #A0A0A0;
    --oa-fg-darkest: #808080;

    --oa-bg-1: #3655a3;
    --oa-bg-2: #7a7620;
    --oa-bg-3: #9f4b1e;
    --oa-bg-4: #7e1b29;
    --oa-bg-5: #52628b;
    --oa-bg-6: #851192;
    --oa-bg-7: #266b67;
    --oa-bg-8: #456f2b;

    --oa-fg-1: #7d98de;
    --oa-fg-2: #ded971;
    --oa-fg-3: #eda279;
    --oa-fg-4: #e97d8d;
    --oa-fg-5: #b1c0e6;
    --oa-fg-6: #e571f2;
    --oa-fg-7: #98e6e1;
    --oa-fg-8: #54b319;

    --oa-bg-tag: var(--oa-bg-1);
    --oa-fg-tag: var(--oa-fg-lighter);
    
    --oa-bg-op-get: var(--oa-bg-1);
    --oa-bg-op-put: var(--oa-bg-2);
    --oa-bg-op-post: var(--oa-bg-3);
    --oa-bg-op-delete: var(--oa-bg-4);
    --oa-bg-op-options: var(--oa-bg-5);
    --oa-bg-op-head: var(--oa-bg-6);
    --oa-bg-op-patch: var(--oa-bg-7);
    --oa-bg-op-trace: var(--oa-bg-8);

    --oa-bg-header: var(--oa-bg-6);
    --oa-bg-form: var(--oa-bg-7);
    --oa-bg-path: var(--oa-bg-8);
    --oa-bg-cookie: var(--oa-bg-1);
    --oa-bg-query: var(--oa-bg-2);

    --oa-bg-matrix: var(--oa-bg-6);
    --oa-bg-label: var(--oa-bg-7);
    --oa-bg-simple: var(--oa-bg-8);
    --oa-bg-spacedelimited: var(--oa-bg-1);
    --oa-bg-pipedelimited: var(--oa-bg-2);
    --oa-bg-deepobject: var(--oa-bg-3);
    
    --oa-font-small: 12px;
    --oa-font-smaller: 10px;
    --oa-font-large: 16px;
}
